.navbar {
   list-style-type: none;
  overflow: hidden;
  background-color: #333;
  position: fixed !important;
  top: 10px;
  width: 100%;
  margin: 0px;
z-index: 1;
font-family: Arial, Helvetica, sans-serif;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background: #ddd;
  color: black;

}
.title {
top: 60px;
position: relative;

}

.bottompart {
  top: 1000px;
background-color: #242424;
color: white;
  position: relative;
text-align: center;
  padding:50px;

}
 body {
  background-image: url("../image/background2.jpg");
  background-color: #cccccc;
  background-repeat: no-repeat;
font-family: Arial, Helvetica, sans-serif;


}
h1 {
  position: relative;
  top: 125px;
  left: 50px;

}

.descrip {
  padding: 100px;
  position: relative;
  top: 90px;
  right: 50px;
}
styletrick{
  white-space: nowrap;
}

.kick1 {
  position: relative;
  left: 150px;
  top: 100px;
}

.kick2 {
  position: relative;
  left: 800px;
  top: 100px;
}

.n1 {
  top: 500px;
  right: 450px;
  position: relative;

}
.n2 {
  position: relative;
  top: 500px;
  left: 200px;
}

.tailslide {
  top: 900px;
  right: 100px;
  position: relative;
}
.lipslide{
  top: 725px;
  left: 150px;
  position: relative;
}
.fliptricks {
  position: relative;
  top: -350px;
}

.nollietricks
{
  top: -5px;
  position: relative;
}
.grinds {
  position: relative;
  top: 350px;
}
