.navbar {
   list-style-type: none;
  overflow: hidden;
  background-color: #333;
  position: fixed !important;
  top: 10px;
  width: 100%;
  margin: 0px;

}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background: #ddd;
  color: black;

}
.title {
top: 60px;
position: relative;

}

.bottompart {
  top: 1000px;
background-color: #242424;
color: white;
  position: relative;
text-align: center;
padding:50px;

}
body {
  background-image: url("../image/background4.jpg");
  background-color: #cccccc;
  background-repeat: no-repeat;
   background-size: 1600px 2000px;
   font-family: Arial, Helvetica, sans-serif;
}
.about {
  position: absolute;
  top: 400px;
  width: 350px;
  right: 200px;
  background-color: #242424;
  padding-left: 50px;
  color: white;
  border-radius: 10px;
}
